initialize() {
	
	initializeTreeSeq();
	defineConstant("alpha", 0.5);
	defineConstant("genomeSize", 1e8);
	initializeMutationRate(0);
	initializeMutationType("m1", 0.5, "f", 0);
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElement(g1, 0, genomeSize-1);
	defineConstant("baseRate", 1e-8);
	initializeRecombinationRate(baseRate);
	
	defineConstant("outPath", "results/admix_snp_stat/");

}

// note we will recaptitate

1 {
	sim.addSubpop("p0", N);
	sim.addSubpop("p1", N);
	sim.rescheduleScriptBlock(s1, N); // migration begins
	sim.rescheduleScriptBlock(s2, N); // migration begins
	sim.rescheduleScriptBlock(s3, N+10);
	sim.rescheduleScriptBlock(s4, N+100);
	sim.rescheduleScriptBlock(s5, N+500);
	sim.rescheduleScriptBlock(s6, N+1000);
}

// expected Fst=0.2 when N=T
s1 early() {
	sim.addSubpop("p2", N);
	p2.setMigrationRates(c(p0,p1), c(alpha, 1-alpha));
}

s2 late() {
	sim.treeSeqRememberIndividuals(sim.subpopulations.individuals);
	p2.setMigrationRates(c(p0, p1), c(0.0, 0.0));
}

s3 late() {
	sim.treeSeqRememberIndividuals(sim.subpopulations.individuals);
}

s4 late() {
	sim.treeSeqRememberIndividuals(sim.subpopulations.individuals);
}
s5 late() {
	sim.treeSeqRememberIndividuals(sim.subpopulations.individuals);
}

s6 late(){
	sim.treeSeqOutput(outPath + "/replicate" + seed + ".trees");
}
