// if running on command line, need to pass seed # and population size as command line args

initialize() {
	if (exists("slimgui"))
	{
		defineConstant("seed", 0);
		rates = readFile("/Users/jeff/workspace/selection-against-introgression/theory_and_simulations/hg38_wg_slim_recmap.txt");
		defineConstant("N", 10000);
	} else
	{	
		defineConstant("outPath", "results/human_wgsim_neutral_equilibrium_gen2000/");
		rates = readFile("/Users/brogroh/selection-against-introgression/theory_and_simulations/hg38_wg_slim_recmap.txt");
//		rates = readFile("/home/jgroh/selection-against-introgression/theory_and_simulations/hg38_wg_slim_recmap.txt");
	}
	
	
	initializeTreeSeq();
	defineConstant("L", 55088); // each locus corresponds to 50kb
	defineConstant("N1", 1);
	defineConstant("s", 1);
	defineConstant("alpha", 0.5);

	initializeMutationRate(0);
	initializeMutationType("m1", 0.5, "f", 0.0);
	initializeGenomicElementType("g1", m1, 1.0);
	
	// number of windows present in rec map
	initializeGenomicElement(g1, 0, L-1);

	initializeRecombinationRate(asFloat(rates), 1:(L-1));
}

1 early() {
	sim.addSubpop("p0", N);
	sim.addSubpop("p1", N1); 

	p0.setMigrationRates(p1,alpha);
	sim.treeSeqRememberIndividuals(sim.subpopulations.individuals);
}

1 late() {p1.setSubpopulationSize(0);}


// output: gen 3 late are F2 offspring
2002 late() {
	sim.treeSeqOutput(outPath + "/replicate" + seed + ".trees"); }
